/* services */

.services {
  margin-top: 5rem;
}

.services .services-title {
  font-size: 2.5rem;
}

.services .services-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}

.services .services-grid .service {
  background-color: var(--bg-3);
  padding: 2rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  border-radius: 2rem;
}

.services-grid .service .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-grid .service .icon i {
  font-size: 5rem;
  color: var(--main);
}

.services-grid .service .text .name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* testimonials */

.testimonials {
  margin-top: 5rem;
}

.testimonials .testimonials-title {
  font-size: 2.5rem;
}

.testimonials .testimonials-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}

.testimonials .testimonials-grid .testimonial {
  background-color: var(--bg-3);
  padding: 2rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 2rem;
  border-radius: 2rem;
}

.testimonials-grid .testimonial .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-grid .testimonial .icon img {
  height: 8rem;
}

.testimonials-grid .testimonial .text .name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* clients */
.clients {
  margin-top: 5rem;
}

.clients .clients-title {
  font-size: 2.5rem;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
}

.clients .clients-grid .logo {
  height: 6rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--bg-3);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.clients .clients-grid .logo:hover {
  background-color: var(--bg-3);
}

.clients .clients-grid .logo img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.5s;
}

.clients .clients-grid .logo img:hover {
  transform: scale(1.1);
}
