.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
  margin: auto;
}

.contact-form .form-title {
  font-size: 2rem;
  text-align: center;
}

.contact-form input {
  padding: 1.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--bg-3);
  border-radius: 1rem;
  color: var(--text);
}

.contact-form input:focus {
  border-color: var(--main);
}

.contact-form .message {
  height: 10rem;
  padding: 1.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--bg-3);
  border-radius: 1rem;
  color: var(--text);
}

.contact-form .message:focus {
  border-color: var(--main);
}

.contact-form input[type="submit"] {
  background-color: var(--main);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-1);
  transition: all 0.3s;
}

.contact-form input[type="submit"]:hover {
  letter-spacing: 2px;
}
