.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: clamp(2rem, 2.5vw, 4rem);
}

.portfolio-grid .item {
  width: 100%;
  height: fit-content;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.portfolio-grid .item:hover .thumbnail i {
  display: block;
}

.portfolio-grid .item:hover .thumbnail {
  opacity: 0.6;
}

.portfolio-grid .item .thumbnail {
  width: 100%;
  aspect-ratio: 1/0.7;
  border-radius: 2rem;
  overflow: hidden;
}

.portfolio-grid .item .thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.portfolio-grid .item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.portfolio-grid .item h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.portfolio-grid .item h4 {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.5;
}

.portfolio-grid .item .thumbnail i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--main);
  padding: 1rem;
  background-color: var(--bg-3);
  border-radius: 1rem;
  display: none;
  transition: all 0.3s 0.3s;
}
